$column-margin: 10px;
$column-padding: 10px;

.columnContainer {
  display: flex;
  width: 100%;
	//flex-wrap: wrap
  //background: orange;
}

.categories {
  flex: 0 1 unquote("min(20%, 200px)");
  margin: $column-margin;
  //background: yellow;
}

.products {
  flex: 1 1 80%;
  //background: green;
  margin: $column-margin;
}
