@import "variables";

.productFlexbox {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 10px;
	width: 100%;
}

@for $i from 1 through 11 {
	@media screen and (min-width: 300px + 200px * $i) {
		.productFlexbox {
			grid-template-columns: repeat($i + 1, 1fr);
			//font-size: (300px + 200px * $i) / 300;
			font-size: 80vw / $i / 30;

		}
	}
}

.title {
	font-weight: bold;
	font-size: 150%;
	margin-bottom: $vertical-spacing * 2;
}

.loadMore {
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

